<section id="education" class="education content-section">
	<h2 class="section-header">Education</h2>

	<div class="content-entry">
	    <h3 class="entry-header">
	        <a href="https://wwu.edu/">Western Washington University</a>
	    </h3>
	    <h4 class="entry-subheader">Bachelor of Science in Computer Science</h4>
	    <h4 class="entry-subheader entry-date">September 2009 - March 2014</h4>
	    <div class="entry-body">
	        -Minor in Business Administration
	        <br>
	        -Web Programmer Certification
	    </div>
	</div>
</section>