<section id="experience" class="experience content-section">
    <h2 class="section-header">Experience</h2>
    <div class="content-entry">
        <h3 class="entry-header">
            <a href="https://porch.com/">Porch</a>
        </h3>
        <h4 class="entry-subheader">Full-stack Software Engineer</h4>
        <h4 class="entry-subheader u-right">August 2014 - November 2015</h4>
        <div class="entry-body">
            asdf
        </div>
    </div>
    <div class="content-entry">
        <h3 class="entry-header">
            <a href="http://dbfestival.com/">Decibel Festival</a>
        </h3>
        <h4 class="entry-subheader">Technology Director</h4>
        <h4 class="entry-subheader u-right">March 2015 - Current</h4>
        <div class="entry-body">
            asdf
        </div>
    </div>
    <div class="content-entry">
        <h3 class="entry-header">
            <a href="https://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000625601&forceHttps=0&isAUI=1">Amazon</a>
        </h3>
        <h4 class="entry-subheader">Software Engineer Intern</h4>
        <h4 class="entry-subheader u-right">August 2014 - November 2015</h4>
        <div class="entry-body">
            Amazon Mobile Shopping team
            • Developed an iOS prototype application focused on image processing
            • Utilized open source technologies for optimal character recognition and computer vision
        </div>
    </div>
    <div class="content-entry">
        <h3 class="entry-header">
            <a href="http://www.finaid.wwu.edu/">Western Washington University</a>
        </h3>
        <h4 class="entry-subheader">Full-stack Web Developer</h4>
        <h4 class="entry-subheader u-right">October 2012 - March 2014</h4>
        <div class="entry-body">
            asdf
        </div>
    </div>
    <div class="content-entry">
        <h3 class="entry-header">
            <a href="http://spiedigitallibrary.org/">SPIE</a>
        </h3>
        <h4 class="entry-subheader">Software Engineer Intern</h4>
        <h4 class="entry-subheader u-right">February 2013 - December 2013</h4>
        <div class="entry-body">
            asdf
        </div>
    </div>
</section>