<section id="projects" class="projects content-section">
	<h2 class="section-header">Projects</h2>
	<div class="content-entry">
		<ul>
			<li><a href="http://dbfestival.com/">Decibel Festival website (dBfestival.com)</a></li>
			<li>Currently designing and building a React/React Native app for discovering popular events in Seattle</li>
			<li>Created an Android application where users can easily find restaurant menu items and hours</li>
			<li>Developed a multiplayer Blackjack server in Python with the socket library</li>
	</div>
</section>